<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%t] %date %-5level %logger{10}:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.jena.fuseki" level="INFO"/>
    <logger name="ch.unil.sparql.template" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>